* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white
}

body {
background-color: black;
}

h1, h2 {
  text-align: center;
  padding-bottom: 15px;
}

h2 {
  padding-bottom: 10px;
}

button {
  display: block;
  border: none;
  background-color: gray;
  padding: 5px;
  font-size: 1em;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

input {
  background-color: black;
  border: 0;
  font-size: 1.2em;
  font-weight: 100;
  color: white;
  border-radius: 10px;
  outline: none;
  padding: 8px 10px;
  border: 2px solid black;
}

label {
  color: #818181;
  font-size: 1.3em;
  text-align: right;
  font-weight: 900;
}