/* ------------------- */
/* Global Declarations */
/* ------------------- */

*   {
    font-family: monospace;
    margin: 10px;
    font-size: 16px;
}
h1 {
    font-size: 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    margin: 2px;
    padding: 4px;
}

nav, nav a:visited {
    text-decoration: none;
}

nav a {
    background-color: darkblue;
    color: white;
    box-shadow: 0 0 5px black;
    transition: background-color 0.25s;
    padding: 10px;
    height: 2.5rem;
    border-radius: 20px;
}

nav a:hover {
    background-color: darkred;
}

section {
    border: 3px;
    width: 65vw;
}

button {
    background-color: darkred;
    color: white;
    box-shadow: 0 0 5px black;
    transition: background-color 0.25s;
    padding: 10px;
    height: 2.5rem;
    border-radius: 20px;
}

button:hover {
    background-color: darkblue;
}

main {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
}

body {
    background-color: plum;
}

p {
    margin-left: 19px;
}

.text-heading, .highscore {
    margin: 30px;
}

.start-button {
    width: 35vw;
    height: 40px;
}

/* ---------------- */
/* Highscore Screen */
/* ---------------- */

#highscore-list > li:nth-child(odd) {
    background-color: deeppink;
    color: deepskyblue;
}

#highscore-list > li:nth-child(even) {
    background-color: deeppink;
    color: plum;
}

/* ----------- */
/* Media Query */
/* ----------- */

@media screen and (max-width: 400px) {
    * {
        font-size: 12px;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    main {
        margin-top: 10px;;
    }

    .text-heading, .highscore {
        margin: 10px;
    }

}